$width:1200;
$column:12;

.container{
    max-width: $width * 1px;
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@for $j from 1 through $column{
    .col#{$j}{
        width: calc((100% / ($column / $j)) - 3%);
        margin: 1.5%;
    }
}